#searchBar{ position: relative;}
.btnPost { position: absolute; right:7px;top:7px;text-shadow: none;letter-spacing: normal}
#banner {    height: 100%;
    position: relative;}
.banner {  color: #fff;/*padding-top: 80px; padding-bottom: 80px;*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.21) 100%);
    position: absolute;    top: 0;    width: 100%;
}
.bannerimg { /*position: absolute;*/ z-index: -1; width: 100%; height: 100%;    max-height: 600px; overflow: hidden;}
.bannerimg img{ /*position: absolute; bottom: 0px; */width: 100%;    display: block;}
.banner h1 { margin: 0 auto; /*max-width: 446px; font-weight: normal; margin-bottom: 40px;*/ letter-spacing: 0; line-height: 140%; }
.phoneShadow { width: 149px; height: 304px; position: absolute; top: 22px; z-index: 1; left: 100px; border-radius: 21px; box-shadow: 8px 13px 38px rgba(0, 0, 0, 0.23); }
.banner-text {  text-align: center;  /*letter-spacing: 1px;   max-width: 790px;*/}
.banner-text p { margin-bottom: 40px; color: #fff; line-height: 160%;/*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);*/}
.askuser { margin-bottom: 10px; margin-top: 40px; }
.btnShopper { margin-right: 20px; }
.btnTraveller { }
.btnBig button div { line-height: 45px !important; }
.howItWork { padding: 20px 40px; background: rgba(255, 255, 255, 0.9); }
.howItWork h2 { margin-top: 0; }
.howItWork img { height: 70px; }
.howItWork p { font-weight: bold; margin: 0 }
.howItWork span { display: block; max-width: 210px; margin: auto; }
.travelerList { padding-right: 20px; margin-top: 25px; }
.travelerList li { margin-bottom: 20px; display: table; }
.travelerList img { width: 50px; height: 50px; border-radius: 100%; vertical-align: middle; margin-right: 10px }
.travelerList .userName { display: table-cell; vertical-align: middle; letter-spacing: normal; }
.productList .col { margin-bottom: 40px; }

.itemsList .imgWrap { width: 165px; }


.recentList .colMd6{width: 33.3%}
.recentList .col .imgWrap{background: #fff;    box-shadow: 0px 7px 18px -4px rgba(0, 0, 0, 0.1);}
.popularList .colMd6{width: 33.3%}

.sectionBanner{overflow: hidden;}

.LandingPage h3, .sectionBanner h2{font-size: 1.6em;margin-top: 0;    font-weight: 600; color: #222222;}
.LandingPage h3{margin-bottom: 5px;}
.bannerAction{ width: 500px;}
.bannerAction p{margin-bottom: 20px;}

.sideBanner { max-width: 627px; padding-left: 20px;max-height: 230px;}
.buyerBanner{padding-top: 0;    margin-bottom: 10px;margin-top: 30px;}
.paypal{ color: #0070ba;}
.__react_component_tooltip { max-width: 300px; font-size: 0.8em!important; line-height: 140%; font-family: sans-serif;}
.travelBanner .bgBanner {top: auto;    bottom: -5px;}
.LandingPage .abBottomRight button{display: none!Important}

.completedBy {word-break: break-all;}
.requestBy{border: 1px solid #d9d9d9; border-top:0;padding: 7px 10px;}
.requestBy .avatar{margin-right: 7px;}
.completedBy,.requestBy {font-size: 0.9em;}




.react-autosuggest__container { position: relative }
.react-autosuggest__input { width: 100%; height: 50px; padding: 10px 20px; border: 0; border-radius: 4px }
.react-autosuggest__input:focus { outline: none }
.react-autosuggest__container--open .react-autosuggest__input { }
.react-autosuggest__suggestions-container { display: none }
.react-autosuggest__container--open .react-autosuggest__suggestions-container {
    display: block; position: absolute; top: 52px; max-width: 880px; min-width: 300px; border: 1px solid #d3d3d3; background-color: #fff;
    font-family: Helvetica, sans-serif; border-radius: 4px; z-index: 2;
}
.react-autosuggest__suggestions-list { margin: 0; padding: 0; list-style-type: none }
.react-autosuggest__suggestion { cursor: pointer; padding: 10px 20px; }
.react-autosuggest__suggestion:not(:first-child) { border-top: 1px solid #ddd }
.react-autosuggest__suggestion--focused { background-color: #0C7EAF; color: #fff }
.suggestion-content { height: 50px; padding-left: 65px; display: table; }
.name { margin-left: 10px; color: #4f4f4f; text-shadow: none; text-align: left; display: table-cell; vertical-align: middle; }
.highlight { color: #e00; }
.react-autosuggest__suggestion--focused .highlight { color: #120000 }
.react-autosuggest__suggestion--highlighted .name { color: #000 }