
#userRequests .col .imgWrap {
    width: 80%;
    height: 129px;
    overflow: hidden;
    top: -20px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    position: relative;
    box-shadow: -2px 3px 10px -1px rgba(0, 0, 0, 0.23);
    box-shadow: -9px 10px 36px 0px rgba(0, 0, 0, 0.07);
}
#userRequests .col .imgWrap img {
    position: absolute;
    min-height: 100%;
    max-height: 240px;
    max-width: 156px;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
}
#userRequests .productInfo { padding: 20px; padding-top: 115px; min-height: 220px; }
.profileWrap .productInfo h4 { font-size: 12px; }
.userRequestTitle { margin-top: 0; margin-bottom: 10px; letter-spacing: normal; }
.itemPrice { font-size: 1.2em; font-weight: 400; margin-right: 5px; }
.itemName { display: inline; font-weight: normal; }
#userRequests { height: 255px; padding-top: 30px; margin-bottom: 30px; overflow: hidden; }
#userTrips .col { }
.imgWrapBox { overflow: hidden; position: relative; height: 158px; box-shadow: 0px 7px 14px -2px rgba(0, 0, 0, 0.23); }
.imgWrapBox img { display: block; position: absolute; height: 100%; max-height: 240px; max-width: none; top: 0; left: 50%; -webkit-transform: translate(-50%, 0%); }
.tripInfo p { line-height: normal; margin-bottom: 0px; }
.tripInfo .travelCountry, .tripInfo .returnCountry { text-transform: uppercase; display: inline-block; text-align: center; width: 40%; vertical-align: top; }
.tripInfo h5 { font-size: 25px; margin: 0; font-weight: 600; }
.tripInfo i.iconMiddle { font-size: 34px; text-align: center; margin-top: 15px; display: inline-block; width: 20%; }
.tripInfo h5 span { display: block; font-weight: 400; font-size: 10px; }
.tripHead { padding: 20px; }
.tripDate { padding: 10px 20px; font-size: 0.8em }
.tripDetail { width: 161px; height: 100%; padding: 0 20px; margin: 20px 0; position: relative; border-left: 1px solid #e7e7e7; }
.tripDetail .detail { margin-bottom: 15px; font-size: 10px; position: relative; padding-left: 35px; }
.detail:last-child { margin-bottom: 0 }
.tripDetail span { display: block; font-size: 16px; color: #000 }
.tripDetail i { position: absolute; left: 0px; font-size: 24px; margin-top: 3px; }
.tripDetail .table { height: 80px; }

.claimedRequest {width: 100px}
.claimedRequest img{height: 58px;     width: 58px;opacity: 0.1; margin: 0 2px;}
.claimedRequest img:hover{opacity: 1}