@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

*{box-sizing: border-box;}
body{font-size: 14px; background: #eee;overflow-y:scroll;}
body,button{font-family: 'Montserrat', sans-serif;}
ul{list-style: none;padding-left: 0}
a{text-decoration: none}
p{ line-height: 160%;margin-top: 0;margin-bottom: 10px;}
h1,h2,h3,h4,h5{letter-spacing: 1px;    font-weight: 500;}
h1{font-size: 2.4em;}
h3{font-size: 1.2em}
h4{font-weight: 500;}
img{max-width: 100%}
input{padding: 10px;}

.overflowFixBeta {padding-left: calc(100vw - 100%);}

.itemModal ::-webkit-scrollbar-track{background-color: #eee;}
.itemModal ::-webkit-scrollbar{width: 8px;background-color: #F5F5F5;}
.itemModal ::-webkit-scrollbar-thumb{background-color: #52b6da;/*  border-radius: 10px;*/}

.full{width: 100%}
.fullheight{height: 100%}
.container{max-width: 1000px;margin-left: auto;margin-right: auto;}
.contentWrap{padding-right: 6px;padding-left: 6px;}
.colWrap{margin-right: -6px;margin-left: -6px;}
.col{padding-left: 6px;padding-right: 6px;display: inline-block;vertical-align:top;margin-bottom: 10px;}
.col a{color: inherit;}
.colMd6{width: 50%;}
.colMd4{width: 33.33%;}
.colMd3{width: 25%;}

.table{display: table;}
.tableCell{display: table-cell;}

.floatWrap:after{content: '';display: table;clear: both;}
.pullLeft{float: left;}
.pullRight{float: right;}
.vatop{vertical-align: top}
.vaMiddle{vertical-align: middle;}
.taCenter{text-align: center;}
.taleft{text-align: left;}
.stayCenter{margin-right: auto;margin-left: auto;}
.colorPri,a{color: #00bcd4}
.colorSec,.itemPrice {color: #ff4081}
.colorGrey{color: #989898;}
.small{font-size: 0.7em;font-weight: normal;display: block;}
.grad-blue {background: linear-gradient(to bottom, #3090ff 0%, #519ffb 100%);}
.bgPri{background: #00bcd4}
.bgGrey{background: #eee}
.bgWhite{background: #fff}

button.bgPri{background: #00bcd4!important;color: #fff!important}
button.bgPri:disabled,button.bgPri[disabled]{background: #eee!important;color: rgba(0, 0, 0, 0.298039)!important;}

.pdWrap{padding: 60px 0}
.mgBottom10{margin-bottom: 10px;}
.mgBottom30{margin-bottom: 30px}
.mgBottom40{margin-bottom: 40px}
.mgTop20{margin-top: 20px;}
.mgTop30{margin-top: 30px;}
.mgTop40{margin-top: 40px;}
.mgTop50{margin-top: 50px;}
.mgTop60{margin-top: 60px;}
.leftSide{width: 240px;}

.relative{position: relative;}
.abBottomRight{position: absolute;bottom: 20px;right: 20px;}

.header{background: #fff;font-family: 'Roboto'}
.itemModal .itemWrap{margin-top: 0!important}
.itemWrap{position: relative;min-height: 400px;padding-left: 340px;}
.itemImgWrap{position: absolute;background: #fff;left: 0;width: 340px;height: 100%;top: 0;overflow: hidden;}
.itemImgWrap img{position: absolute;min-height: 100%;max-height: 235px; max-width: 800px;top: 0;left: 50%;-webkit-transform: translate(-50%,0%);transform: translate(-50%,0%);}
.itemInfo{padding: 20px;padding-bottom: 70px;}


.itemWrap h1{font-size: 1.4em;text-transform: capitalize;}
.itemWrap h1 a{color: #000}








.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
